<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zsp.push">

    <application
        android:name="application.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="jpush.display.JpushDisplayActivity">
            <intent-filter>
                <action android:name="jpush.testAction" />
                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--动态圈选（可选）需单添intent-filter-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jiguang"
                    android:scheme="jiguang-41fb110f14c5e91a8bf06698" />
            </intent-filter>
        </activity>
        <!--动态圈选（可选）必要Activity-->
        <activity
            android:name="cn.jiguang.analytics.android.view.BuryWebActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!--Jpush（极光推送消息接收器）-->
        <!-- Required since 3.0.7 -->
        <!-- 新tag/alias接口返结果需开发者配一自定广播 -->
        <!-- 3.3.0始该类回调全事件 -->
        <!-- 该广播继承JPush所提JPushMessageReceiver并如下增一IntentFilter -->
        <receiver
            android:name="jpush.receiver.JpushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.zsp.push" />
            </intent-filter>
        </receiver>
        <!--Jpush（极光推送自定接收器）-->
        <!-- User defined. For test only. -->
        <receiver
            android:name="jpush.receiver.JpushCustomReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required 用户注册SDK意图 -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required 用户接收SDK消息意图 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required 用户接收SDK通知栏信息意图 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required 用户打开自定通知栏意图 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 自1.6.3接收网变（连/断） -->
                <category android:name="com.zsp.push" />
            </intent-filter>
        </receiver>
    </application>

    <dist:module dist:instant="true" />

</manifest>